@page "/seguros/siniestros/{moduloId}/{submoduloId}/continuidades/{opcionId}/detalle/{id}"
@model Clients.WebClient.Pages.Direcciones.Seguros.Continuidades.DetalleModel
@{
    ViewData["Title"] = "Continuidades de SGMM";
    ViewData["Titulo"] = Model.Area.Nombre + " - Continuidades SGMM";
    int c = 0;
    var servidorPublico = Model.Empleado.Nombre + " " + Model.Empleado.Paterno + " " + Model.Empleado.Materno;
}

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header cabeceraInformacionG">
                <i class="fa-sharp fa-light fa-list-check mr-2"></i> General
            </div>
            <div class="card-body" id="cuerpoInformacionG" style="display: block">
                <div class="row col-lg-12">
                    <ul class="mb-0 fa-ul">
                        <li class="medium mt-3"><span class="fa-li"><i class="fas fa-lg fa-hashtag"></i></span><b>Expediente: </b> @Model.Continuidad.Expediente</li>
                        <li class="medium mt-3"><span class="fa-li"><i class="fas fa-lg fa-calendar"></i></span><b>Servidor Público</b> @(System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(servidorPublico.ToLower()))</li>
                        <li class="medium mt-3"><span class="fa-li"><i class="fas fa-lg fa-briefcase"></i></span> <b>Puesto: </b> @(System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.Kardex.First().Puesto.ToLower()))</li>
                        <li class="medium mt-3"><span class="fa-li"><i class="fas fa-lg fa-user"></i></span> <b>Fecha de Baja: </b> @Model.Continuidad.FechaBaja</li>
                        <li class="medium mt-3"><span class="fa-li">@Html.Raw(Model.EstatusContinuidad.Icono)</span> <b style="color: @Model.EstatusContinuidad.FondoHexadecimal;">Estatus: @Model.EstatusContinuidad.Nombre</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <a class="btn btn-md btn-warning float-right ml-2" href="/seguros/siniestros/@Model.Modulo.Id/@Model.Submodulo.Id/continuidades/@Model.Opcion.Id">
            <i class="fal fa-arrow-left"></i>
        </a>
        @if (Model.Oficios.Count() == 0 && Model.EstatusContinuidad.Abreviacion.Equals("EnMovimientos"))
        {
            <a class="btn btn-md btn-danger float-right ml-2 rastrearOficio" href="#">
                <i class="fal fa-search"></i>
            </a>
        }
        @if (Model.Oficios.Count() == 0 && Model.EstatusContinuidad.Id < 3)
        {
            <a class="btn btn-md btn-primary float-right ml-2 actualizarContinuidad" href="#">
                <i class="fal fa-pencil"></i>
            </a>
        }
        <a class="btn btn-md btn-dark float-right ml-2" href="#" id="registrarContacto">
            <i class="fal fa-user"></i>
        </a>
        @if (Model.EstatusContinuidad.Id > 2)
        {
            <a href="javascript:" class="btn btn-md btn-secondary float-right agregarEntregable">
                <i class="fas fa-list text-white"></i>
            </a>
        }
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-primary"><b>Continuidad</b></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 h5">
                        Datos de la Continuidad
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Fecha de Baja</th>
                                    <th>Puesto</th>
                                    <th>Fecha de Envío al SP</th>
                                    <th>Fecha de Limite de Pago</th>
                                    <th>Importe a Pagar</th>
                                    <th>Pagado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@(Model.Continuidad.FechaBaja.GetValueOrDefault().Year == 1 ? "-" : Model.Continuidad.FechaBaja.GetValueOrDefault().ToString("dd/MM/yyyy"))</td>
                                    <td>@(System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.Kardex.First().Puesto.ToLower()))</td>
                                    <td>@(Model.Continuidad.FechaEnvioSp.GetValueOrDefault().Year == 1 ? "-" : Model.Continuidad.FechaEnvioSp.GetValueOrDefault().ToString("dd/MM/yyyy"))</td>
                                    <td>@(Model.Continuidad.FechaLimitePago.GetValueOrDefault().Year == 1 ? "-" : Model.Continuidad.FechaLimitePago.GetValueOrDefault().ToString("dd/MM/yyyy"))</td>
                                    <td>@String.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:C}", Model.Continuidad.Importe)</td>
                                    <td>@(Model.Continuidad.Pagado == true ? "SI" : "NO")</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                @foreach (var f in Model.FlujoContinuidad)
                {
                    if (Model.Permisos.Any(p => p.PermisoId == f.PermisoId && p.SubmoduloId == Model.Submodulo.Id))
                    {
                        @Html.Raw(f.Boton);
                    }
                }
            </div>
        </div>
    </div>
</div>

@if (Model.Oficios != null && Model.Oficios.Count() != 0)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-secondary"><b>Oficios de Movimientos</b></h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body cuerpoMovimientos">
                    <div class="row mt-3">
                        <table class="table tblMovimientos">
                            <thead>
                                <tr>
                                    <th class="text-center">Año de Movimiento</th>
                                    <th class="text-center">Servidor Público</th>
                                    <th class="text-center">Tipo de Movimiento</th>
                                    <th class="text-center">Número de Oficio</th>
                                    <th class="text-center">Fecha de Aplicación</th>
                                    <th class="text-center">Registro de Movimiento</th>
                                    <th class="text-center">Fecha de Alta</th>
                                    <th class="text-center">Observaciones</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 14px">
                                @foreach (var of in Model.Oficios)
                                {
                                    c++;
                                    var servidorP = of.ServidorPublico.Nombre + " " + of.ServidorPublico.Paterno + " " + of.ServidorPublico.Materno;
                                    var registro = of.UsuarioRegistro.Nombre + " " + of.UsuarioRegistro.Paterno + " " + of.UsuarioRegistro.Materno;
                                    <tr>
                                        <td class="text-center">@of.AnioMovimiento</td>
                                        <td class="text-center">@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(servidorP.ToLower())</td>
                                        <td class="text-center">@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(of.Movimiento.fcDescMov.ToLower())</td>
                                        <td class="text-center">@of.Oficio</td>
                                        <td class="text-center">@of.FechaAplicacionMovimientoSP.ToString("dd/MM/yyyy")</td>
                                        <td class="text-center">@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(registro.ToLower())
                                        <td class="text-center">@of.FechaAltaMovimiento.ToString("dd/MM/yyyy")</td>
                                        <td class="text-center">@(of.ObservacionMovimiento.Equals("") ? "-" : of.ObservacionMovimiento)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Contactos != null && Model.Contactos.Count() != 0)
{
    c = 0;
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-secondary"><b>Medios de Contacto</b></h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body cuerpoKardex">
                    <div class="row">
                        <div class="col-lg-12">
                            @if (@Model.EstatusContinuidad.Abreviacion.Equals("PendientePago"))
                            {
                                <a class="enviarCorreo float-right ml-2" href="javascript:">
                                    <i class="fa-etch fa-solid fa-comment text-success"></i>
                                </a>
                            }
                            @if (@Model.EstatusContinuidad.Abreviacion.Equals("Concluida"))
                            {
                                <a class="enviarCorreoPoliza float-right ml-2" href="javascript:">
                                    <i class="fa-light fa-clipboard-list"></i>
                                </a>
                            }
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-center">Tipo</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">Registrado el:</th>
                                <th class="text-center">Última actualización:</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 14px">
                            @foreach (var k in Model.Contactos)
                            {
                                c++;
                                <tr>
                                    <td>@c</td>
                                    <td class="text-center">@k.TipoContacto.Nombre</td>
                                    <td class="text-center">@k.Descripcion</td>
                                    <td class="text-center">@k.FechaCreacion.ToString("dd/MM/yyyy hh:mm tt")</td>
                                    <td class="text-center">@(
                                        k.FechaActualizacion.GetValueOrDefault().Year != 1 ?
                                        k.FechaActualizacion.GetValueOrDefault().ToString("dd/MM/yyyy hh:mm tt") : " -"
                                    )</td>
                                    <td class="text-center">
                                        <a class="editarContacto" href="javascript:" data-tipo="@k.TipoId"
                                        data-descripcion="@k.Descripcion" data-id="@k.Id">
                                            <i class="fa-etch fa-solid fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.EntregablesContinuidad != null && Model.EntregablesContinuidad.Count() != 0)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title text-black"><b>Entregables</b></h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body cuerpoKardex">
                    <div class="row col-lg-12 mt-2">
                        <div class="col-lg-12">
                            <table class="table tblKardex">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="text-center">Adjuntó</th>
                                        <th class="text-center">Tipo</th>
                                        <th class="text-center">Archivo</th>
                                        <th class="text-center">Fecha de Carga</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size: 14px">
                                    @foreach (var k in Model.EntregablesContinuidad)
                                    {
                                        c++;
                                        var elaboro = @k.Usuario.NombreEmp + " " + @k.Usuario.PaternoEmp + " " + @k.Usuario.MaternoEmp;
                                        <tr>
                                            <td>@c</td>
                                            <td class="text-center">@(System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(elaboro.ToLower()))</td>
                                            <td class="text-center">@(k.Entregable.Nombre)</td>
                                            <td class="text-center">@k.Archivo</td>
                                            <td class="text-center">@k.FechaCreacion</td>
                                            <td class="text-center">
                                                <a class="verEntregable" href="javascript:" 
                                                data-id="@k.Id" 
                                                data-entregable="@k.Entregable.Nombre">
                                                    <i class="fas fa-eye text-success"></i>
                                                </a>
                                                @if (Model.FlujoEntregableContinuidad.Where(fe=> fe.EntregableId == k.EntregableId).Select(e => e.Editable).Count() != 0)
                                                {
                                                    <a class="editarEntregable ml-2" href="javascript:"
                                                       data-id="@k.Id"
                                                       data-archivo="@k.Archivo"
                                                       data-entregable="@k.EntregableId"
                                                       data-importe="@Model.Continuidad.Importe"
                                                       data-fechanotificacion="@Model.Continuidad.FechaEnvioSp.GetValueOrDefault().ToString("yyyy-MM-dd")"
                                                       data-fechalimite="@Model.Continuidad.FechaLimitePago.GetValueOrDefault().ToString("yyyy-MM-dd")">
                                                        <i class="fas fa-pencil text-primary"></i>
                                                    </a>
                                                    <a class="eliminarEntregable ml-2" href="javascript:"
                                                       data-id="@k.Id"
                                                       data-archivo="@k.Archivo"
                                                       data-abreviacion="@k.Entregable.Abreviacion">
                                                        <i class="fas fa-trash text-danger"></i>
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-danger"><b>Kardex - Servidor Público</b></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body cuerpoKardex">
                <table class="table tblKardex">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-center">Periodo de Nombremiento</th>
                            <th class="text-center">Fecha de Baja</th>
                            <th class="text-center">Clave de Puesto</th>
                            <th>Puesto</th>
                            <th>Motivo de Baja</th>
                            <th class="text-center">Rango</th>
                            <th class="text-center">Nivel</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 14px">
                        @foreach (var k in Model.Kardex)
                        {
                            c++;
                            <tr>
                                <td>@c</td>
                                <td class="text-center">
                                    @k.FechaInicioNombr.GetValueOrDefault().ToString("dd/MM/yyyy") -
                                    @(k.FechaFinNombr.GetValueOrDefault().Year > 9000 ? "Indefinido" : k.FechaFinNombr.GetValueOrDefault().ToString("dd/MM/yyyy"))
                                </td>
                                <td class="text-center">@(k.FechaBaja.GetValueOrDefault().Year == 1 ? "-" : k.FechaBaja.GetValueOrDefault().ToString("dd/MM/yyyy"))</td>
                                <td class="text-center">@k.CvePuesto</td>
                                <td>@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(k.Puesto.ToLower())</td>
                                <td class="text-center">
                                    @(k.Baja.Trim().Equals("BR") ? "Baja por Renuncia" : k.Baja.Trim().Equals("BF") ? "Baja por Fin de Nombramiento" :
                                                                    k.Baja.Trim().Equals("BCD") ? "Baja por Cambio de Denominación" :
                                                                    k.Baja.Trim().Equals("BMC") ? "Baja por Cambio de Denominación" :
                                                                    k.Baja.Trim().Equals("BCP") ? "Baja por Cambio de Plaza" : "-")
                            </td>
                            <td class="text-center">@k.Rango</td>
                            <td class="text-center">@k.Nivel</td>
                        </tr>
                                                }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*Modal para Registrar Referencia de Pago*@
<div class="modal fade" id="modalEntregables">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-white">Agregar Entregable</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row col-lg-12">
                    <input type="hidden" id="inputEntregableId"/>
                    <div class="form-group col-lg-4">
                        <label for="tipoIncidencia">Entregable a registrar:</label>
                        <select class="form-control" id="inputEntregable">
                            <option value="">Seleccione una opción</option>
                            @foreach (var ti in Model.Entregables)
                            {
                                <option value="@ti.Id" data-abreviacion="@ti.Abreviacion">@ti.Nombre</option>
                            }
                        </select>
                        <div class="col-sm-12" id="error_inputEntregable">
                            <small id="dateHelp" class="text-danger">
                                Seleccione el tipo de entregable
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-lg-4" id="divSuaMes">
                        <label for="tipoIncidencia">Fecha de Envió al SP:</label>
                        <input type="date" class="form-control" id="inputFechaNotificacionSP" />
                        <div class="col-sm-12" id="error_inputFechaNotificacionSP">
                            <small id="dateHelp" class="text-danger">
                                Capture la fecha de notificación al SP
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-lg-4" id="divSuaMes">
                        <label for="tipoIncidencia">Fecha Límite de Pago:</label>
                        <input type="date" class="form-control" id="inputFechaLimitePago" />
                        <div class="col-sm-12" id="error_inputFechaLimitePago">
                            <small id="dateHelp" class="text-danger">
                                Capture la fecha límite de pago
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-lg-4" id="divSuaMes">
                        <label for="tipoIncidencia">Importe a Pagar:</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="text" class="form-control" id="inputImporte" aria-label="Importe a pagar">
                        </div>
                        <div class="col-sm-12" id="error_inputImporte">
                            <small id="dateHelp" class="text-danger">
                                Capture el monto a pagar
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <input type="hidden" id="inputEstatusId" />
                        <label for="elegirArchivo">Seleccionar Archivo: </label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" accept=".pdf,.PDF">
                            <label class="custom-file-label" for="customFile">Seleccionar Archivo</label>
                        </div>
                        <div class="col-sm-12" id="error_comprobantePDF">
                            <small id="dateHelp" class="text-danger">
                                Por favor seleccione él archivo correspondiente
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-primary float-right" href="javascript:" id="guardarentregable">
                    Guardar
                </a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*Modal para registrar la referencia de Pago*@

@*Modal para Registrar Contactos*@
<div class="modal fade" id="modalContactos">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h4 class="modal-title text-white">Agregar/Modificar Contacto</h4>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row col-lg-12">
                    <input type="hidden" id="inputContactoId" />
                    <div class="form-group col-lg-4">
                        <label for="tipoIncidencia">Tipo de Contacto:</label>
                        <select class="form-control" id="inputTipoContacto">
                            <option value="">Seleccione una opción</option>
                            @foreach (var ti in Model.TiposContacto)
                            {
                                <option value="@ti.Id" data-abreviacion="@ti.Abreviacion">@ti.Nombre</option>
                            }
                        </select>
                        <div class="col-sm-12" id="error_inputTipoContacto">
                            <small id="dateHelp" class="text-danger">
                                Seleccione el tipo de contacto
                            </small>
                        </div>
                    </div>
                    <div class="form-group col-lg-5">
                        <label for="tipoIncidencia">Descripción:</label>
                        <input type="text" class="form-control" id="inputDescripcion" />
                        <div class="col-sm-12" id="error_inputDescripcion">
                            <small id="dateHelp" class="text-danger">
                                Capture la descripción (telefono ó correo electrónico)
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-primary float-right" href="javascript:" id="guardarContacto">
                    Guardar
                </a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*Modal para registrar los contactos*@

@*Modal para ver los Entregables*@
<div class="modal fade" id="modalVerEntregables">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 98%; height: 95vh;">
        <div class="modal-content" style="height: 100%;">

            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white" id="titleVerEntregables"></h4>
                <button type="button" class="close text-white" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>

            <div class="modal-body p-0" style="height: 100%;">
                <div id="objectPdf" style="height: 100%;"></div>
            </div>

        </div>
    </div>
</div>
@*Fin Modal para ver los Entregables*@


@section Scripts {
    <script>
        $(function(){
            var usuario = @Html.Raw(Json.Serialize(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value));
            var modulo = @Html.Raw(Json.Serialize(Model.Modulo));
            var submodulo = @Html.Raw(Json.Serialize(Model.Submodulo));
            var opcion = @Html.Raw(Json.Serialize(Model.Opcion));
            var area = @Html.Raw(Json.Serialize(Model.Area));
            var continuidad = @Html.Raw(Json.Serialize(Model.Continuidad));
            var estatusContinuidad = @Html.Raw(Json.Serialize(Model.EstatusContinuidad));

            var totalMovimientos = @Html.Raw(Json.Serialize(Model.Oficios.Count()));

            $("#error_inputEntregable").css("display","none");
            $("#error_inputFechaNotificacionSP").css("display","none");
            $("#error_inputFechaLimitePago").css("display","none");
            $("#error_inputImporte").css("display","none");
            $('#error_comprobantePDF').css('display', 'none');
            $('#error_inputDescripcion').css('display', 'none');
            $('#error_inputTipoContacto').css('display', 'none');

            var kardex = $('.tblKardex').DataTable({
                responsive: true,
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
            });
            
            const input = document.querySelector('#inputImporte');
            
            input.addEventListener('input', (e) => {
                let valor = e.target.value;
                const terminaEnPunto = valor.endsWith('.');
                valor = valor.replace(/[^0-9.]/g, '');
                
                let partes = valor.split('.');
                let enteros = partes[0];
                let decimales = partes.slice(1).join(''); 

                // Formatear enteros
                let formateado = enteros ? new Intl.NumberFormat('es-MX').format(enteros) : '';

                if (terminaEnPunto) {
                    e.target.value = formateado + '.';
                } else if (decimales) {
                    e.target.value = formateado + '.' + decimales;
                } else {
                    e.target.value = formateado;
                }
            });

            $("#registrarContacto").click(function(){
                $("#modalContactos").modal("show");
            });
            
            $(".editarContacto").click(function(){
                $("#inputContactoId").val($(this).data('id'));
                $("#inputDescripcion").val($(this).data('descripcion'));
                $("#inputTipoContacto").val($(this).data('tipo'));
                $("#modalContactos").modal("show");
            });
            
            $(".agregarEntregable").click(function(){
                $("#inputEntregable").prop("disabled",false);
                $("#inputFechaNotificacionSP").prop("disabled",false);
                    $("#inputImporte").prop("disabled",false);
                if(estatusContinuidad.abreviacion == "PendientePago" || estatusContinuidad.abreviacion == "Pagada" || estatusContinuidad.abreviacion == "Cancelada")
                {
                    $("#inputFechaNotificacionSP").prop("disabled",true);
                    $("#inputFechaLimitePago").prop("disabled",true);
                    $("#inputImporte").prop("disabled",true);
                    $("#inputFechaNotificacionSP").val(continuidad.fechaEnvioSp.slice(0,10));
                    $("#inputFechaLimitePago").val(continuidad.fechaLimitePago.slice(0,10));
                    let myNumericInput = new AutoNumeric('#inputImporte', continuidad.importe, { decimalPlaces: 2 });
                }
                $("#modalEntregables").modal("show");
            });
            
            $(".editarEntregable").click(function(){
                let id = $(this).data('id');
                let archivo = $(this).data('archivo');
                let entregableId = $(this).data('entregable');
                let fechaNotificacion = $(this).data('fechanotificacion');
                let fechaLimite = $(this).data('fechalimite');
                let myNumericInput = new AutoNumeric('#inputImporte', continuidad.importe, { decimalPlaces: 2 });

                $(".custom-file-label").text(archivo);
                $("#inputEntregableId").val(id);
                $("#inputEntregable").val(entregableId);
                $("#inputEntregable").prop("disabled",true);
                $("#inputFechaNotificacionSP").val(fechaNotificacion);
                $("#inputFechaLimitePago").val(fechaLimite);
                $("#modalEntregables").modal("show");
            });

             $("#customFile").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                var ext = fileName.split('.').pop();
                if (ext == "pdf") {
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                } else {
                    Swal.fire({
                        'icon': 'error',
                        title: 'Detalle de la Continuidad',
                        'text': 'El archivo que intentas adjuntar no es válido. Favor de solo seleccionar archivos "PDF"'
                    });
                    $(".custom-file-label").text("Seleccionar Archivo");
                    document.getElementById('customFile').value = '';
                    if ($('#customFile').hasClass('is-valid')) {
                        $('#customFile').removeClass('is-valid');
                    }
                    $('#customFile').addClass('is-invalid');
                    $('#error_customFile').css('display', 'block');
                }
            });
            
            
            function validarContacto() {
                let tipoContacto = $("#inputTipoContacto").val().trim();
                let descripcion= $("#inputDescripcion").val().trim();
                
                if (!tipoContacto) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Detalle de la Continuidad',
                        html: "Debe seleccionar el <b>Tipo de Contacto</b>."
                    });
                    $("#error_inputTipoContacto").show();
                    return false;
                }
                
                if (!descripcion) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Detalle de la Continuidad',
                        html: "Debe capturar la <b>Descripción del Tipo de Contacto</b>."
                    });
                    $("#error_inputDescripcion").show();
                    return false;
                }
                return true;
            }

            function validarEntregable() {
                let entregableId = $("#inputEntregableId").val().trim();
                let tipoEntregable = $("#inputEntregable").val().trim();
                let importe = $("#inputImporte").val().trim();
                let fecha = $("#inputFechaNotificacionSP").val().trim();
                let fechaLimite = $("#inputFechaLimitePago").val().trim();
                let filePDF = document.getElementById('customFile').files[0];
                if (!tipoEntregable) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Detalle de la Continuidad',
                        html: "Debe seleccionar el <b>Entregable</b>."
                    });
                    $("#error_inputEntregable").show();
                    return false;
                }
                
                if (!importe) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Detalle de la Continuidad',
                        html: "Debe capturar el <b>importe</b>."
                    });
                    $("#error_inputImporte").show();
                    return false;
                }
                
            if (!fecha) {
                Swal.fire({
                    icon: 'error',
                    title: 'Detalle de la Continuidad',
                    html: "Debe seleccionar la <b>Fecha de Notificación al SP</b>."
                });

                $("#error_inputFechaNotificacionSP").show();
                return false;
            }
            
            if (!fechaLimite) {
                Swal.fire({
                    icon: 'error',
                    title: 'Detalle de la Continuidad',
                    html: "Debe seleccionar la <b>Fecha Limite de Pago</b>."
                });

                $("#error_inputFechaLimitePago").show();
                return false;
            }

            if (!entregableId) {

                if (!filePDF) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Detalle de la Continuidad',
                        html: "No ha adjuntado el <b>archivo PDF</b>."
                    });

                    $("#error_comprobantePDF").show();
                    return false;
                }
            }

            return true;
        }

            $("#guardarentregable").click(function(){
                var formData = new FormData();
                let id = $("#inputEntregableId").val();
                let entregableId = $("#inputEntregable").val();
                let importe = $("#inputImporte").val();
                let fechaNotificacion = $("#inputFechaNotificacionSP").val();
                let fechaLimite = $("#inputFechaLimitePago").val();
                var text = $("#inputEntregable option:selected").text();
                var tipoEntregable = $("#inputEntregable option:selected").data("abreviacion");
                let mensaje = '¿Está seguro que desea guardar el entregable?';

                if(validarEntregable())
                {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Detalle de la Continuidad',
                        html: mensaje,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, continuar',
                        cancelButtonText: 'Cancelar',
                        showCancelButton: true
                    }).then( confirm => {
                        if(confirm.isConfirmed)
                        {
                            let file = document.getElementById('customFile').files[0];
                            formData.append("ContinuidadId", continuidad.id);
                            formData.append("EntregableId", entregableId);
                            formData.append("Expediente", continuidad.expediente);
                            formData.append("Entregable", file);
                            formData.append("FechaEnvioSP", fechaNotificacion);
                            formData.append("FechaLimitePago", fechaLimite);
                            formData.append("TipoEntregable", tipoEntregable);
                            formData.append("Importe", importe);
                            Swal.fire({
                                icon: 'info',
                                title: 'Detalle de la Continuidad',
                                text: 'Por favor indique alguna comentario.',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                cancelButtonText: 'Cancelar',
                                confirmButtonText: 'Continuar',
                                input: 'textarea',
                                inputPlaceholder: 'Escriba los comentarios correspondientes'
                            }).then(coments => {
                                if (coments.value.length > 0)
                                {
                                    formData.append("Observaciones", coments.value);
                                    if(id != 0)
                                    {
                                        formData.append("Id", id);
                                        Swal.fire({
                                            allowOutsideClick: false,
                                            icon: "info",
                                            title: 'Detalle de la Continuidad',
                                            html: "Actualizando el entregable, espere por favor.",
                                        });
                                        Swal.showLoading();
                                        axios.put('/seguros/siniestros/'+modulo.id+'/'+submodulo.id+'/continuidades/'+opcion.id+'/detalle/'+continuidad.id+'?handler=UpdateEntregable',
                                        formData, {
                                            headers: { 'Content-Type': 'multipart/form-data' }
                                        }).then(response => {
                                            if(response.status == 200)
                                            {
                                                var id = response.data.id;
                                                Swal.fire({
                                                    icon: "success",
                                                    title: 'Detalle de la Continuidad',
                                                    html: "Se actualizó el entregable correctamente.",
                                                    confirmButtonText: 'Cerrar'
                                                }).then(function () {
                                                    Swal.fire({
                                                        allowOutsideClick: false,
                                                        icon: "info",
                                                        title: 'Detalle de la Continuidad',
                                                        html: "Finalizando, espere por favor."
                                                    });
                                                    Swal.showLoading();
                                                    window.location.reload();
                                                });
                                            }
                                       });
                                    }
                                    else
                                    {
                                        Swal.fire({
                                            allowOutsideClick: false,
                                            icon: "info",
                                            title: 'Detalle de la Continuidad',
                                            html: "Registrando el entregable, espere por favor.",
                                        });
                                        Swal.showLoading();
                                        axios.post('/seguros/siniestros/'+modulo.id+'/'+submodulo.id+'/continuidades/'+opcion.id+'/detalle/'+continuidad.id+'?handler=CreateEntregable',
                                        formData, {
                                            headers: { 'Content-Type': 'multipart/form-data' }
                                        }).then(response => {
                                            if(response.status == 200)
                                            {
                                                var id = response.data.id;
                                                Swal.fire({
                                                    icon: "success",
                                                    title: 'Detalle de la Continuidad',
                                                    html: "Se registro el entregable correctamente.",
                                                    confirmButtonText: 'Cerrar'
                                                }).then(function () {
                                                    Swal.fire({
                                                        allowOutsideClick: false,
                                                        icon: "info",
                                                        title: 'Detalle de la Continuidad',
                                                        html: "Actualizando, espere por favor."
                                                    });
                                                    Swal.showLoading();
                                                    window.location.reload();
                                                });
                                            }
                                       });
                                    }
                                }
                            });
                        }
                    });
                }
            });

            $(".eliminarEntregable").click(function(){
                var formData = new FormData();
                let id = $(this).data('id');
                var tipoEntregable = $(this).data("abreviacion");
                var archivo = $(this).data("archivo");
                let mensaje = '¿Está seguro que desea eliminar el entregable?';

                Swal.fire({
                        icon: 'warning',
                        title: 'Detalle de la Continuidad',
                        html: mensaje,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, continuar',
                        cancelButtonText: 'Cancelar',
                        showCancelButton: true
                    }).then( confirm => {
                        if(confirm.isConfirmed)
                        {
                            let file = document.getElementById('customFile').files[0];
                            formData.append("ContinuidadId", continuidad.id);
                            formData.append("Expediente", continuidad.expediente);
                            formData.append("Archivo", archivo);
                            formData.append("TipoEntregable", tipoEntregable);
                            Swal.fire({
                                icon: 'info',
                                title: 'Detalle de la Continuidad',
                                text: 'Por favor indique alguna comentario.',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                cancelButtonText: 'Cancelar',
                                confirmButtonText: 'Continuar',
                                input: 'textarea',
                                inputPlaceholder: 'Escriba los comentarios correspondientes'
                            }).then(coments => {
                                if (coments.value.length > 0)
                                {
                                    formData.append("Observaciones", coments.value);
                                    formData.append("Id", id);
                                        Swal.fire({
                                            allowOutsideClick: false,
                                            icon: "info",
                                            title: 'Detalle de la Continuidad',
                                            html: "Eliminando el entregable, espere por favor.",
                                        });
                                        Swal.showLoading();
                                        axios.put('/seguros/siniestros/'+modulo.id+'/'+submodulo.id+'/continuidades/'+opcion.id+'/detalle/'+continuidad.id+'?handler=DeleteEntregable',
                                        formData, {
                                            headers: { 'Content-Type': 'multipart/form-data' }
                                        }).then(response => {
                                            if(response.status == 200)
                                            {
                                                var id = response.data.id;
                                                Swal.fire({
                                                    icon: "success",
                                                    title: 'Detalle de la Continuidad',
                                                    html: "Se eliminó el entregable correctamente.",
                                                    confirmButtonText: 'Cerrar'
                                                }).then(function () {
                                                    Swal.fire({
                                                        allowOutsideClick: false,
                                                        icon: "info",
                                                        title: 'Detalle de la Continuidad',
                                                        html: "Finalizando, espere por favor."
                                                    });
                                                    Swal.showLoading();
                                                    window.location.reload();
                                                });
                                            }
                                       });
                                  }
                            });
                        }
                    });
            });



            $(".enviarCorreo").click(function(){
                Swal.fire
                ({
                    allowOutsideClick: false,
                    icon: "info",
                    title: 'Detalle de la Continuidad',
                    showConfirmButton: false,
                    html: "Enviando correo, espere por favor."
                });

                axios.post('/seguros/siniestros/'+modulo.id+'/'+submodulo.id+'/continuidades/'+opcion.id+'/detalle/'+continuidad.id+'?continuidadId='+continuidad.id+'&handler=SendEmailReferenciaPago').then(response => {
                    if(response.data.success == true){
                        Swal.fire
                        ({
                            icon: 'success',
                            title: 'Detalle de la Continuidad',
                            html: 'Se envió correctamente el correo.',
                            confirmButtonText: 'Cerrar'
                        }).then(function () {
                            window.location.reload();
                        });
                     }
                     else
                     {
                         Swal.fire({
                             icon: 'error',
                             title: 'Detalle de la Continuidad',
                             text: 'Hubo un error al envíar el correo, favor de contactar al administrador del sistema.',
                             confirmButtonText: 'Cerrar'
                        });
                     }
                 });
             });

             $(".enviarCorreoPoliza").click(function(){
                Swal.fire
                ({
                    allowOutsideClick: false,
                    icon: "info",
                    title: 'Detalle de la Continuidad',
                    showConfirmButton: false,
                    html: "Enviando correo, espere por favor."
                });

                axios.post('/seguros/siniestros/'+modulo.id+'/'+submodulo.id+'/continuidades/'+opcion.id+'/detalle/'+continuidad.id+'?continuidadId='+continuidad.id+'&handler=SendEmailPoliza').then(response => {
                    if(response.data.success == true){
                        Swal.fire
                        ({
                            icon: 'success',
                            title: 'Detalle de la Continuidad',
                            html: 'Se envió correctamente el correo con la póliza.',
                            confirmButtonText: 'Cerrar'
                        }).then(function () {
                            window.location.reload();
                        });
                     }
                     else
                     {
                         Swal.fire({
                             icon: 'error',
                             title: 'Detalle de la Continuidad',
                             text: 'Hubo un error al envíar el correo, favor de contactar al administrador del sistema.',
                             confirmButtonText: 'Cerrar'
                        });
                     }
                 });
             });


           $(".rastrearOficio").click(function(){
               Swal.fire({
                    allowOutsideClick: false,
                    icon: "info",
                    title: 'Detalle de la Continuidad',
                    html: "Buscando oficio en el sistema de movimientos, espere por favor.",
                });
                Swal.showLoading();
                axios.get('/seguros/siniestros/' + modulo.id+'/' + submodulo.id+'/continuidades/'+opcion.id+'/detalle/'+continuidad.id+'?continuidadId='+continuidad.id+ '&handler=RastrearOficio').then(response => {
                    if (response.data != 0)
                    {
                        Swal.fire({
                            icon: "success",
                            title: 'Detalle de la Continuidad',
                            html: "El <b>Oficio</b> ya fue registrado en el sistema de movimientos.",
                            confirmButtonText: 'Cerrar'
                        }).then(function () {
                            Swal.fire({
                                allowOutsideClick: false,
                                icon: "info",
                                title: 'Detalle de la Continuidad',
                                html: "Actualizando la continuidad, espere por favor."
                            });
                            Swal.showLoading();
                            window.location.reload();
                        });
                     }
                     else
                     {
                         Swal.fire({
                            icon: "error",
                            title: 'Detalle de la Continuidad',
                            html: "El <b>Oficio</b> aún no es registrado en el sistema de movimientos. Favor de verificarlo con el área correspondiente.",
                            confirmButtonText: 'Cerrar'
                        }).then(function () {
                            Swal.fire({
                                allowOutsideClick: false,
                                icon: "info",
                                title: 'Detalle de la Continuidad',
                                html: "Actualizando la continuidad, espere por favor."
                            });
                            Swal.showLoading();
                            window.location.reload();
                        });
                     }
                });
            });


             $(".actualizarContinuidad").on('click',function(){
                Swal.fire({
                    icon: 'info',
                    title: 'Detalle de la Continuidad',
                    html: '<p style="text-align: justify">Por favor capture la fecha de baja del servidor público.' +
                    '</p>'+'<br>'+
                    '<input type="date" id="fechaBaja" class="swal2-select" style="width: 80%; padding: 0.5em; border-radius: 5px;">',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Actualizar',
                }).then(coments => {
                    var fechaBaja = $("#fechaBaja").val();
                    if(fechaBaja != "" && fechaBaja != 0)
                    {
                        axios.get('/seguros/siniestros/' + modulo.id+'/' + submodulo.id+'/continuidades/'+opcion.id+'/detalle/'+continuidad.id+'?expediente='+continuidad.expediente+'&fechaBaja='+fechaBaja+'&handler=ExisteContinuidad').then(existe=> {
                            if (existe.data != null)
                            {
                                Swal.fire({
                                    allowOutsideClick: false,
                                    icon: "info",
                                    title: 'Detalle de Continuidad',
                                    html: "Actualizando Continuidad",
                                });
                                Swal.showLoading();
                                axios.put('/seguros/siniestros/'+modulo.id+'/'+submodulo.id+'/continuidades/'+opcion.id+'/detalle/'+continuidad.id+'?handler=ActualizarContinuidad', {
                                    Id: parseInt(continuidad.id),
                                    UsuarioId: usuario,
                                    FechaBaja: fechaBaja
                                }).then(response => {
                                    if (response.status == 200) {
                                        Swal.fire({
                                            icon: "success",
                                            title: 'Detalle de Continuidad',
                                            html: "Se actualizó la continuidad correctamente.",
                                            confirmButtonText: 'Cerrar'
                                        }).then(function () {
                                            Swal.fire({
                                                allowOutsideClick: false,
                                                icon: "info",
                                                title: 'Detalle de Continuidad',
                                                html: "Actualizando, espere por favor."
                                            });
                                            Swal.showLoading();
                                            window.location.reload();
                                        });
                                    }
                               });
                            }
                            else
                            {
                                Swal.fire({
                                    allowOutsideClick: false,
                                    icon: "warning",
                                    title: 'Detalle de Continuidad',
                                    html: "<p style='text-align: justify'>Se detectó que ya existe una continuidad con los siguientes datos:"+
                                    "<br><br>"+
                                    "<b>- Expediente: </b>"+continuidad.expediente+"<br>"+
                                    "<b>- Fecha de Baja: </b>"+fechaBaja+"<br>"+
                                    "<br>Por lo tanto no es posible guardar los cambios dentro de está continuidad. Por favor verifique la información y vuelva a intentarlo.</p>",
                                    confirmButtonText: 'Cerrar'
                                });
                            }
                        });
                    }
                });
            });
            
            $("#guardarContacto").click(function(){
                let id = $("#inputContactoId").val();
                let tipoContacto = $("#inputTipoContacto").val();
                let descripcion = $("#inputDescripcion").val();
                if(validarContacto())
                {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Detalle de la Continuidad',
                        html: '¿Desea guardar el contacto?',
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, continuar',
                        cancelButtonText: 'Cancelar',
                        showCancelButton: true
                    }).then( confirm => {
                        if(confirm.isConfirmed)
                        {
                            if(id != 0)
                            {
                                Swal.fire({
                                    allowOutsideClick: false,
                                    icon: "info",
                                    title: 'Detalle de la Continuidad',
                                    html: "Actualizando el contacto, espere por favor.",
                                });
                                Swal.showLoading();
                                axios.put('/seguros/siniestros/'+modulo.id+'/'+submodulo.id+'/continuidades/'+opcion.id+'/detalle/'+continuidad.id+'?handler=UpdateContacto', {
                                    Id: parseInt(id),
                                    TipoId: parseInt(tipoContacto),
                                    ContinuidadId: parseInt(continuidad.id),
                                    Descripcion: descripcion
                                }).then(response => {
                                    if(response.status == 200)
                                    {
                                    var id = response.data.id;
                                    Swal.fire({
                                        icon: "success",
                                        title: 'Detalle de la Continuidad',
                                        html: "Se actualizó el contacto correctamente.",
                                        confirmButtonText: 'Cerrar'
                                    }).then(function () {
                                        Swal.fire({
                                            allowOutsideClick: false,
                                            icon: "info",
                                            title: 'Detalle de la Continuidad',
                                            html: "Finalizando, espere por favor."
                                        });
                                        Swal.showLoading();
                                        window.location.reload();
                                    });
                                }
                            });
                        }
                        else
                        {
                            Swal.fire({
                                allowOutsideClick: false,
                                icon: "info",
                                title: 'Detalle de la Continuidad',
                                html: "Registrando el contacto, espere por favor.",
                            });
                            Swal.showLoading();
                            axios.post('/seguros/siniestros/'+modulo.id+'/'+submodulo.id+'/continuidades/'+opcion.id+'/detalle/'+continuidad.id+'?handler=CreateContacto',{
                                TipoId: parseInt(tipoContacto),
                                ContinuidadId: parseInt(continuidad.id),
                                Descripcion: descripcion
                            }).then(response => {
                                if(response.status == 200)
                                {
                                    var id = response.data.id;
                                    Swal.fire({
                                        icon: "success",
                                        title: 'Detalle de la Continuidad',
                                        html: "Se registro el contacto correctamente.",
                                        confirmButtonText: 'Cerrar'
                                    }).then(function () {
                                        Swal.fire({
                                            allowOutsideClick: false,
                                            icon: "info",
                                            title: 'Detalle de la Continuidad',
                                            html: "Actualizando, espere por favor."
                                        });
                                        Swal.showLoading();
                                        window.location.reload();
                                    });
                                }
                            });
                        }
                    }
                });
            }
        });

            $(".actualizarEstatus").on('click',function(){
                let estatusId = $(this).data('estatus');
                let nombreEstatus = $(this).data('nestatus');
                let corregir = $(this).data('corregir');
                let pagado = $(this).data('pagado');
                let mensaje = '¿Está seguro que desea <b>'+nombreEstatus+'</b> la continuidad?';

                Swal.fire({
                        icon: 'warning',
                        title: 'Detalle de la Continuidad',
                        html: mensaje,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si, continuar',
                        cancelButtonText: 'Cancelar',
                        showCancelButton: true
                    }).then( confirm => {
                        if(confirm.isConfirmed)
                       {
                             Swal.fire({
                                 icon: 'info',
                                 title: 'Detalle de la Continuidad',
                                 text: 'Por favor indique alguna comentario.',
                                 showCancelButton: true,
                                 confirmButtonColor: '#3085d6',
                                 cancelButtonColor: '#d33',
                                 cancelButtonText: 'Cancelar',
                                 confirmButtonText: 'Continuar',
                                 input: 'textarea',
                                 inputPlaceholder: 'Escriba los comentarios correspondientes'
                             }).then(coments => {
                                 if (coments.value.length > 0) {
                                     Swal.fire({
                                         allowOutsideClick: false,
                                         icon: "info",
                                         title: 'Detalle de la Continuidad',
                                         html: "Procesando la Continuidad, espere por favor.",
                                    });
                                    Swal.showLoading();
                                    axios.put('/seguros/siniestros/'+modulo.id+'/'+submodulo.id+'/continuidades/'+opcion.id+'/detalle/'+continuidad.id+'?handler=EstatusContinuidad', {
                                         Id: parseInt(continuidad.id),
                                         EstatusId: parseInt(estatusId),
                                         Corregir: corregir,
                                         Pagada: pagado,
                                         Observaciones: coments.value
                                     }).then(response => {
                                         if (response.status == 200 && response.data != null) {
                                             var id = response.data.id;
                                             Swal.fire({
                                                 icon: "success",
                                                 title: 'Detalle de la Continuidad',
                                                 html: "Se procesó la <b>Continuidad</b> correctamente.",
                                                 confirmButtonText: 'Cerrar'
                                             }).then(function () {
                                                 Swal.fire({
                                                     allowOutsideClick: false,
                                                     icon: "info",
                                                     title: 'Detalle de la Continuidad',
                                                     html: "Actualizando, espere por favor."
                                                 });
                                                 Swal.showLoading();
                                                 window.location.reload();
                                             });
                                        }
                                        else
                                        {
                                            Swal.fire({
                                                allowOutsideClick: false,
                                                icon: "error",
                                                title: 'Detalle de la Continuidad',
                                                html: "<p style='text-align: justify'>No se puede cambiar el estatus de la continuidad, por favor verifique que ya registro la fecha de baja y adjuntó los entregables correspondientes o bien, contacte al administrador del sistema.</p>"
                                            });
                                        }
                                    });
                                 }
                             });
                          }
                    });
            });

            $(".verEntregable").click(function () {
                let url = '/seguros/siniestros/' + modulo.id + '/' + submodulo.id + '/continuidades/' + opcion.id + '/detalle/' + continuidad.id + '?entregableId=' +$(this).data('id')+ '&handler=VisualizarEntregable';
                let data = '<iframe src="' + url + '" style="width:100%; height:100%; border:none;"></iframe>';
                $("#titleVerEntregables").text($(this).data('entregable'));
                $('#objectPdf').html(data);
                $("#modalVerEntregables").modal("show");
            });
        });
    </script>
}