@page "/configuracion/usuarios/{moduloId}/{submoduloId}/permisos/{usuarioId}/{modulo}"
@model Clients.WebClient.Pages.Usuarios.DetallePermisosModel
@{
    ViewData["Title"] = "Permisos del Modulo " + @Model.Modulo.Nombre;
    ViewData["Titulo"] = "Servidor público - " + System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToLower(Model.Usuario.NombreEmp + " " + Model.Usuario.PaternoEmp + " " + Model.Usuario.MaternoEmp));
}

<div class="row">
    <div class="col-lg-12">
        <a href="/configuracion/usuarios/@Model.Modulo.Id/@Model.Submodulo.Id/detalle/@Model.Usuario.Id" type='button' class="btn btn-sm btn-warning float-right"
           data-toggle="tooltip" title="Regresar" data-placement="top">
            <i class="fal fa-arrow-left"></i>
        </a>
    </div>
</div>
<div class="container-fluid">
    <div class="card mt-3">
        <div class="card-header">
            <h4>Detalles del usuario</h4>
        </div>
        <div class="card-body">
            <div class="row col-lg-12">
                <table class="table table-borderless">
                    <tr>
                        <td><strong>Módulo: </strong>@Model.ModuloPermisos.Nombre.Replace("_", " ")</td>
                        <td><strong>Nombre: </strong> @(System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToLower(Model.Usuario.NombreEmp + " " + Model.Usuario.PaternoEmp + " " + Model.Usuario.MaternoEmp)))</td>
                        <td><strong>Expediente: </strong>@Model.Usuario.Expediente</td>
                        <td><strong>RFC: </strong>@Model.Usuario.RFC</td>
                        <td><strong>Puesto: </strong>@Model.Usuario.Puesto</td>
                        <td><strong>Correo Electrónico: </strong>@Model.Usuario.Email</td>
                    </tr>
                </table>
            </div>
            <div class="row col-lg-12">
                <div class="col-lg-12 mt-3">
                    <h4>Submódulos del sistema</h4>
                </div>
                <div class="col-lg-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        @foreach (var mod in Model.Submodulos)
                        {
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tab_@mod.Abreviacion-tab" data-toggle="tab" href="#tab_@mod.Abreviacion" role="tab" aria-controls="@mod.Abreviacion" aria-selected="false">
                                    @Html.Raw(mod.Icono) @mod.Nombre
                                </a>
                            </li>
                        }
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        @foreach (var mod in Model.Submodulos)
                        {
                            <div class="tab-pane fade mt-2 ml-3" id="tab_@mod.Abreviacion" role="tabpanel" aria-labelledby="@mod.Abreviacion-tab">
                                <div class="mt-3">
                                    <h3>@mod.Nombre</h3>
                                </div>
                                <div class="col-lg-12 mt-2">
                                    <div class="row col-lg-12 mt-3" id="divProcesos">
                                        @foreach (var sb in mod.Opciones)
                                        {
                                            <div class="row col-lg-12 mt-3" id="divProcesos">
                                                <div class="col-lg-12">
                                                    <div class="card">
                                                        <div class="card-header cabeceraPP">
                                                            <i class="fas fa-chalkboard mr-2"></i> @sb.Nombre
                                                        </div>
                                                        <div class="card-body cuerpoCedula">
                                                            <div class="row col-lg-12 mt-3">
                                                                <div class="col-lg-12">
                                                                    @foreach (var p in sb.Permisos)
                                                                    {
                                                                        @if (Model.Permisos.Where(ps => ps.OpcionId == p.OpcionId && ps.PermisoId == p.PermisoId &&
                                                                                                                                    ps.ModuloId == Model.ModuloPermisos.Id &&
                                                                                                                                    ps.SubmoduloId == p.SubmoduloId).Count() != 0)
                                                                        {
                                                                            <div class="form-check-inline i-checks mt-3">
                                                                                <strong class="text-black mr-3">@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(p.Permiso.Nombre)</strong>
                                                                                <input class="chkPermiso" type="checkbox" data-toggle="toggle"
                                                                                       data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>"
                                                                                       data-onstyle="success" data-offstyle="danger"
                                                                                       data-modulo="@Model.ModuloPermisos.Id"
                                                                                       data-submodulo="@p.SubmoduloId"
                                                                                       data-permiso="@p.PermisoId"
                                                                                       data-opcion="@p.OpcionId"
                                                                                       data-style="ios" value="@p.Permiso.Nombre" checked>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="form-check-inline i-checks mt-3">
                                                                                <strong class="text-black mr-3">@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(p.Permiso.Nombre)</strong>
                                                                                <input class="chkPermiso" type="checkbox" data-toggle="toggle"
                                                                                       data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>"
                                                                                       data-onstyle="success" data-offstyle="danger"
                                                                                       data-modulo="@Model.ModuloPermisos.Id"
                                                                                       data-submodulo="@p.SubmoduloId"
                                                                                       data-permiso="@p.PermisoId"
                                                                                       data-opcion="@p.OpcionId"
                                                                                       data-style="ios" value="@p.Permiso.Nombre">
                                                                            </div>
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="col-lg-12 mt-3">
                <a href="javascript:" class="btn btn-sm btn-primary float-right" id="guardarPermisos">
                    Guardar
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('.listadoInmuebles').DataTable({
                lengthMenu: [[15, 25, 50, -1], [15, 25, 50, "Todos"]],
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
            });

            var tableIU = $('.tblInmueblesUsr').DataTable({
                    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                    responsive: true,
                    autoWidth: true,
                    language: {
                        url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                    },
                });

            $("#guardarPermisos").click(function () {
                var permiso = new Array();
                var usuario = @Html.Raw(Json.Serialize(@Model.Usuario));
                var moduloPermisos = @Html.Raw(Json.Serialize(@Model.ModuloPermisos));
                var modulo = @Html.Raw(Json.Serialize(@Model.Modulo.Id));
                var submodulo= @Html.Raw(Json.Serialize(@Model.Submodulo.Id));


                $('.chkPermiso').each(function () {
                    if ($(this).prop('checked') == true) {
                        permiso.push({ UsuarioId: usuario.id,
                                        ModuloId: parseInt($(this).data("modulo")),
                                        SubmoduloId: parseInt($(this).data("submodulo")),
                                        PermisoId: parseInt($(this).data("permiso")),
                                        OpcionId: parseInt($(this).data("opcion"),)
                        });
                    }
                });

                console.log(usuario);

                axios.delete('/configuracion/usuarios/' + modulo + '/' + submodulo+'/permisos/'+usuario.id+'/'+moduloPermisos.id+'?Usuario='+usuario.id+'&Modulo='+moduloPermisos.Id+'&handler=BorrarPermisos').then(borrar => {
                    if(borrar.status == 200){
                        Swal.fire({
                            allowOutsideClick: false,
                            icon: "info",
                            title: 'Usuarios',
                            html: "Asignando los permisos al usuario."
                        })
                        Swal.showLoading();
                        $.ajax({
                            url: '/configuracion/usuarios/' + modulo + '/'+submodulo+'/permisos/' + usuario.id+'/'+moduloPermisos.id+'?handler=CrearPermisos',
                            type: "post",
                            contentType: 'application/json; charset=utf-8',
                            data: JSON.stringify(permiso),
                            success: function () {
                                Swal.hideLoading();
                                Swal.fire({
                                    'icon': 'success',
                                    'title': 'Usuarios',
                                    'html': 'Se asignaron los permisos al servidor público <b>'+(usuario.nombreEmp+' '+usuario.paternoEmp+' '+usuario.maternoEmp)+'</b>',
                                }).then(function(){
                                    window.location.reload();
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>
}