<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DGSP</title>
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/fonts/fontawesome6/pro/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayLight.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- Toggle Checkbox -->
    <link rel="stylesheet" href="~/plugins/bootstrap4-toggle/css/bootstrap4-toggle.min.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
    <!-- Custom -->
    <!--<link rel="stylesheet" href="~/css/custom.css">-->
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!--DateRange Picker-->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/plugins/bs-stepper/css/bs-stepper.min.css">

    <link rel="stylesheet" href="~/plugins/sweetalert/dist/sweetalert2.min.css">

    <!-- DataTables -->
        <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
        <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/plugins/dropzone/min/dropzone.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- BS-Stepper -->
    <script src="~/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <script src="~/plugins/dropzone/min/dropzone.min.js"></script>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="~/plugins/sweetalert/dist/sweetalert2.all.min.js"></script>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Toggle Checkbox -->
    <script src="~/plugins/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/plugins/dropzone/min/dropzone.min.css">
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- jsPDF -->
    <script src="~/plugins/jsPDF-1.3.2/dist/jspdf.min.js"></script>
    <!-- Jquery KnobsPDF -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- SparkLines-->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- Daterange Picker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>

    <script src="~/plugins/autonumeric/autonumeric.js"></script>
    @* <script src="~/plugins/autonumeric/autonumeric.min.js"></script> *@

    <script src="~/js/axios/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- jquery-validation -->
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>

    <!-- ChartJS -->
    @* <script src="~/plugins/chart.js/Chart.min.js"></script> *@
    @RenderSection("Scripts", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    @await Html.PartialAsync("Navbar")
    @await Html.PartialAsync("Sidebar")
    <!-- Content Wrapper. Contains page content -->
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="background-color: #F6F6F6; ">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h4 class="m-0">@ViewData["Titulo"]</h4>
                        </div><!-- /.col -->
                        <!--<div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">@ViewData["Title"]</a></li>
                                <li class="breadcrumb-item active">@ViewData["Action"]</li>
                            </ol>
                        </div>-->
                        <!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                @RenderBody()
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- Main Footer -->
        <footer class="main-footer" style="background-color: white;">
            <div class="row col-lg-12">
                <div class="col-lg-4 text-left">
                    <strong>Poder Judicial de la Federación</strong>
                </div>
                <div class="col-lg-4">
                    <strong>Organo de Administración Judicial - Dirección General de Servicios al Personal</strong>
                </div>
                <div class="col-lg-4 text-right">
                    <b>Versión</b> 3.0 - @DateTime.Now.Year
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
